@media screen and (min-width: 250px) and (max-width: 950px) {
  body {
    padding: 0;
  }
  section {
    height: 100%;
  }
  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
    height: 100%;
    margin: 0;
  }
  .card {
    width: 25%;
    padding: 4.5rem;
    margin: 5%;
  }
  .card__cta {
    bottom: 0;
  }
  .pop {
    top: -14px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}

/* give .card__container( the parent ) a set height of 100% when the media query kicks in, the give .card ( the child ) a height of 33% and display flex, then fucks with the styling you bitch */
